# Arquivo específico
index.old.html
windowkernel.html
windowkernel2.html
./public/sobre.old.html
offline_apps/touchpad.old.js

# Arquivos comuns que você pode querer ignorar também
node_modules/
dist/
build/
.env
.DS_Store
Thumbs.db
*.log
*.mhtml
.vscode/
.idea/

